<h1 class="text-center mt-4">Listing All Articles</h1>
<%= render 'article' %>
<div id="create" class="container" >
  <button type="button" class="btn btn-outline-light">
    <%= link_to 'Create New Article', new_article_path %>
  </button>
</div>
