<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>This is a little blurb about us</p>
    <%= link_to 'Articles Listing', articles_path %> |
<%= link_to 'Home Page', root_path %>
</body>
</html>