<div class="container" id="home-contatiner">

  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Hello World</h1>
    <p class="lead">A space for exchanging snippits on life with your chosen family</p>
    <hr class="my-4">
    <p>Creat, Edit, View messages through the Cyber sphere</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
