@import 'bootstrap/dist/css/bootstrap';

.navbar {

    background-color: rgb(49, 49, 49) !important;
    
    }
    
    .nav-link {
        color: white !important; 

    }
    
   #logo {

    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px; 
    font-weight: bold;
    
    
    
    }
    

    #home-contatiner {
        margin-top: 25px; 

    }

    .jumbotron {
            background-image: asset-url('moons.jpg');
            background-position: center center; 
            background-repeat: no-repeat; 
            background-size: cover; 
            height: 440px; 
          


    }


html,
body {
  height: 100%;
}

#page-content {
  flex: 10 auto;
  background-color: white;
}

#sticky-footer {
  flex-shrink: none;
}
