html {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-image: url ("app/assets/images/00160003.JPG");
 background-color: white; 
}


h1 {
color:black;
padding: 5px;
margin: 50px 20px; 

}

p {

    width: 800px;
    height: 50px;
    padding: 10px; 
    margin-left: 100px; 
    align-items: center;
    justify-content: center;


}

table {

    width: 800px;
    height: 50px;
    padding: 10px; 
    margin-left: 100px; 
    border: 2px solid #c3c3c3;
    align-items: center;
    justify-content: center;
     
 

}


td, th { 

    width: 800px;
    height: 50px;
    padding: 5px; 
    margin: 5px ; 
    border: 2px solid #c3c3c3;
    align-items: center;
     
}

#create {

margin-left: 100px;
padding: 10px;  
text-decoration: none;

}



