  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Demo Site", "https://mashrurhossain.com", class: "text-white" %></small>
    </div>

  </footer>